.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.titlePage{
  background-color: bisque;
  margin-top:auto;
  color: black;
  margin-bottom: 0px;
  background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 500px;
  margin: auto;
  text-align: center;
  height: 100px;
}
.autoSuggestTextbox{
  text-align: -webkit-center;
}
.textPlusTemp{
  width: 200px;
}
.displayNone{
  display: none;
}
.textWind{
  width: 200px;
  padding-top: 6px;
}
.weatherDetails{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.realTempUnit{
  padding-top: 10px;
}
.tempUnit{
  font-size: 45px;
  font-weight: bold;
}
.weatherText{
  font-size: 26px;
  font-weight: bold;
}
.weatherForAllWeek{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.specificDay{
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
  height: 210px;
  box-shadow: 0 0 14px 0 rgba(0,0,0,.75);
  margin-right: 3px;
  padding: 4px;
  margin-top: 3px;
}
.todayTitle{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.locationOfWeather{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  flex-direction: column-reverse;
}
.mainImg{
  width: 200px;
  height: 200px;
}
.mainImage{
  margin-top: 20px;
}
.imgForDay{width: 100px; height: 100px;}
.dayForSpecificDay{ font-weight: bold; padding-bottom: 5px;}
.dateForSpecificDay{ color: grey; padding-bottom: 5px;}
.rangeForSpecificDay{ padding-top: 5px;}
.humidity{ padding-top: 3px; padding-bottom: 3px;}
.favoritesButton{
  font-size: 22px;
  color: burlywood;
  background-color: bisque;
  font-family: Lato;
  width: 105px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 14px 0 rgba(0,0,0,.75);
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  position: absolute;
  top: 25px;
  left: 25px;
}
.addToFavorite{
  margin-top: 5px;
  margin-bottom: 5px;
}
.react-autosuggest__input{
  font-weight: 400;
  margin-top: 8px;
  font-size: 14px;
  height: 28px;
  border-radius: 8px;
}
.textWindFavorite{
  color: #696969;
}
::placeholder{
  padding: 5px;
}
.react-autosuggest__suggestions-list{
  list-style-type: none;
  font-size: 14px;
  line-height: 26px;
  padding: 5px;
  width: 200px;
  margin: 0 auto;
  margin-top: 3px;
  text-align: center;
  box-shadow: 0 0 14px 0 rgba(0,0,0,.75);
  cursor: pointer;
  border-radius: 2px;
}
.react-autosuggest__suggestion:hover{
  background-color: bisque;
}
.imgForDayFavorite{
  width: 100px;
  height: 100px;
}

.favoriteDetails{
  position: relative;
  width: 150px;
  height: auto;
  font-family: Lato;
  box-shadow: 0 0 14px 0 rgba(0,0,0,.75);
  margin-right: 3px;
  padding: 4px;
  margin-top: 10px;
  text-align: center;
  line-height: 20px;
  background-color: cornsilk;
  font-family: Arial, Helvetica, sans-serif;
}
.favoriteSection{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}
.locationOfWeatherFavorite{
  font-weight: bold;
  font-size: 16px;
}
.textPlusTempFavorite{
  font-weight: bold;
  font-size: 14px;
}
.xButton{
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 1px;
}
@media only screen and (max-width: 700px) {
  .titlePage{
    font-size: 50px;
  }
  .webMapImg{
    width: 200px;
  }
}
